/* need to set up styling for unordered lists, links and paragraphs*/

body {
    background-color: #ffffff;
    margin-top: 16vh; margin-left: 13vw; margin-right: 0px; margin-bottom: 0px;
}

h1 {
    color: #8ce146;
    text-align: center;
    font-size: 2.5vw;
}

h2 {
    color: #0a7d8f;
    text-align: center;
    font-size: 2.5vw;
}

p {
    align-content: left;
    color: #8ce146;
    font-size: 2vw;
}

a:link, a:visited {
    color: #8ce146;
    text-decoration: none;
}

a:hover {
    color: #0a7d8f;
    text-decoration: none;
}




/*classes*/

.header {
    position: absolute;
    right: 0px; left: 12vw; top: 0px;
    height: 16vh;
    background: #98004b;
}

.sidebar{
    position: fixed;
    top: 16vh; bottom: 0px; left: 0px;
    width: 12vw;
    background: #98004b;
}
.logoholder{
    position:fixed;
    top: 0px; left:0px; 
    height: 16vh;
    width:12vw;
    background: #9e1459;
}

.socalMedia {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 12vw;
    height: 10vh;
}

img.align-right { 
    float: right;
     margin-left: 5%;
     margin-right: 2%;
} 
img.align-left { 
    float: left; 
margin-right: 5%;
}

ul #listHeader {
    color: #8ce146;
    list-style: none;
}

ul {
    color: #8ce146;
   font-size: 2vw;
}

img#logo{
    padding-left: 4%;
    padding-top: 10%;
    height: 70%;
    width: 90%;
}


#header{
    color: #8ce146;
    margin: 4vh;
    text-align: center;
    text-shadow: 3px 3px #0a7d8f;
    font-size: 5vw;
}


ul#sidebar{
    font-size: 1.75vw;
    margin-left: .25vw; 
    align-content: left;
    color: #8ce146;
    text-decoration: none;
}


#icon {
    white-space: nowrap;
    vertical-align: center;
    height: auto;
    width: 3vw;
    padding: .35vw;
}

img#green {
    border: 1em double #0a7d8f;
}

img#orange { 
    border: 1em double #8ce146;
}

/* Bar Graph Code - help from https://www.otreva.com/blog/create-a-htmlcss-horizontal-bar-graph/ for an exsample */

.bargraph{
    list-style: none;
    padding-top:1.25vw;
    width: 30vw;
    padding-right:3vw;
    padding-left: .75vw;
    padding-bottom: .75vh;
    background: #636363;
    border-radius: 10px;
}

ul.bargraph li{
    height:4.5vh;
    color: #222222;
    text-align: left;
    font-weight: bolder;
    font-size: 2vw;
    line-height: 4.5vh;
    padding: 0px 1.25vw;
    margin-bottom: .5vh;
    text-align: right;
    border: 2px solid #222222;
    border-radius: 10px;
}

ul.bargraph li.title{
    border: none;
    color: #222222;
    text-align: center;
    font-size: 2vw;
}

ul.bargraph li.level10{
    background: #8ce146;
    width:100%;
}

ul.bargraph li.level9{
    background: #8ce146;
    width:90%;
}

ul.bargraph li.level8{
    background: #8ce146;
    width:80%;
}

ul.bargraph li.level7{
    background: #8ce146;
    width:70%;
}

ul.bargraph li.level6{
    background: #8ce146;
    width:60%;
}

ul.bargraph li.level5{
    background: #8ce146;
    width:50%;
}

ul.bargraph li.level4{
    background: #8ce146;
    width:40%;
}

ul.bargraph li.level3{
    background: #8ce146;
    width:30%;
}

ul.bargraph li.level2{
    background: #8ce146;
    width:20%;
}

ul.bargraph li.level1{
    background: #8ce146;
    width:10%;
}



/*code Tabs https://www.w3schools.com/howto/howto_js_tabs.asp*/
/* Style the tab */
div.tab {
    overflow: hidden;
    border: 3px solid #8ce146;
    background-color: #222222;
    margin: 2em;
    margin-bottom: 0em;
}
/* Style the buttons inside the tab */
div.tab button {
    color: #8ce146;
    font-size: 1vw;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding:14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #636363;
}

/* Create an active/current tablink class */
div.tab button.active{
    background-color: #636363;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 3px solid #8ce146;
    border-top: none;
    margin: 2em;
    margin-top:0em;
    background: #98004b;
}

.tabcontent{
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect{
    from{ocpacity:0;}
    to{opacity: 1;}
}


@keyframes fadeEffect{
    from{opacity: 0;}
    to {opacity: 1;}
}


code {
    font-size: 1vw;
    background: inherit;
}

pre#code{
    border: 3px solid #8ce146;
     border-radius: 10px;
    background: #ffffff;
}