<DOCTYPE HTML>
    <link rel = "stylesheet" href = "CSS/style.css" type = "text/css"/>
    <html>
        <head>
            <title>Austin Craigie</title>
        </head>

        <body>
            <!--header div-->
            <div class="header">
                <p id="header"> Austin Craigie</p>
            </div>

            <!--side bar div-->
            <div class = "sidebar">
                    <ul id="sidebar">
                        <li><a href="index.html"> Home</a></li>
                        <li><a href="About.html">About</a></li>
                        <li><a href="Code.html">Code</a></li>
                        <li><a href="Games.html">Games</a></li>
                        <li><a href="Robotics.html">Robotics</a></li>
                        <li><a href="Other.html">Other Cool Projects</a></li>
                    </ul> 
                   <center><img height = "30%" width="90%" src = "pics/ButchThumbs.png"/></center>
                   <div class = "socalMedia"> 
                       <a href = "https://www.github.com/apcraigie"><img  id="icon" src="pics/Icons/github.png"/></a>
                       <a href="https://www.linkedin.com/in/apcraigie"><img  id="icon" src="pics/Icons/Linkedin.png"/></a>
                       <a href="https://www.hackerrank.com/austin_craigie"> <img  id="icon" src="pics/Icons/hackerRank_logo.png"/></a>
                     </div>  
            </div>

            <!--logo holder -->
            <div class = "logoholder">
                <img id="logo" src="pics/A-code.png"/>
            </div>


            <!--THE Main Body goes here-->
            <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<div class="tab">
  <button class="tablinks" onclick="openFile(event, 'main')" id="defaultOpen">main.c</button>
  <button class="tablinks" onclick="openFile(event, 'h')">Header.h</button>
</div>

<div id="main" class="tabcontent">
  <pre id ="code" class="prettyprint"><code class = "language-cpp">
      #include &lt;iostream&gt;;
      int main(void){
        std::cout << hello world << std::endl;
        return 0;
      }
    </code></pre>
</div>

<div id="h" class="tabcontent">
  <p>Header.h<br>
  code goes here</p>
</div>
  
</div>

<script>
function openFile(evt, fileName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(fileName).style.display = "block";
    evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

    
        </body>
    </html>